
<html>
    <head>
       <title>SailNavSim Race Maps</title>
       <link rel="icon" href="./img/favicon-16.png" sizes="16x16">
       <link rel="icon" href="./img/favicon-32.png" sizes="32x32">
       <link rel="icon" href="./img/favicon-64.png" sizes="64x64">
       <link rel="icon" href="./img/favicon-128.png" sizes="128x128">
       <style>
          .mapview { width:80vw; height:80vh; margin:0; padding:0; overflow:hidden; }
       </style>
    </head>
    <body>
       <p align=right><a href=".">Start</a> | <a href="races.php">Races</a> | <a href="./maps/">Maps</a> | <a href="help.html">Help</a> | <a href="./api/">API</a> | <a href="https://github.com/ls4096/sailnavsim-core">GitHub</a> | <a href="https://twitter.com/SailNavSim">Twitter</a> | <a href="contact.php">Contact</a></p>
       <p align=left><img src="./img/white.png"><font style="font-size: 24px"><i>SailNavSim</i></font></p>
       <hr width=100%>
       <h3>Maps for Captain Mooperd (key=8778615748e7d311a8f9302acd5faa23)</h3>
       <br><a href="#race-map">Race Map</a><br><a href="#windy-map">Weather Forecast Map</a><br><br>
       <hr width=100%>
       <center>
       <br>
       <h4 id="race-map">Race Map</h4>
       <table cellpadding=10 cellspacing=0 border=1>
          <tr>
             <td>
                Show live boat: <input type="checkbox" id="liveBoatMode"><br><br>Data overlay: 
                <select id="overlayTile">
                   <option value="none" selected>None</option>
                   <option value="wind">Wind</option>
                   <option value="wind_gust">Wind Gust</option>
                   <option value="ocean_current">Ocean Current</option>
                   <option value="sea_ice">Sea Ice</option>
                   <option value="wave_height">Wave Height</option>
                </select>
             </td>
          </tr>
       </table>
       <br>Boat positions as of 2021-04-16 0611Z (37s ago)<br>
       <script src="assets/js/sailnavsim-api.js"></script>
       <script src="assets/js/race-map.js"></script>
       <script src="assets/js/boat-icons.js"></script>
       <script src="assets/js/ws-map.js"></script>
       <link rel="stylesheet" href="assets/leaflet.css">
       <script src="assets/leaflet.js"></script>
       <link rel="stylesheet" type="text/css" href="assets/leaflet-ruler.css">
       <script src="assets/leaflet-ruler.js"></script><script src="assets/leaflet.rotatedMarker.js"></script>
       <div class="mapview" id="mapid"></div>
       <script>



    var mymap = L.map('mapid').setView([35.717121, 140.917724], 7);
    L.control.scale().addTo(mymap);
    var rulerOpts = {
        lengthUnit: {
            factor: 0.539956803,
            display: "NM",
            decimal: 1,
            label: "Distance"
        },
        angleUnit: {
            factor: null,
            display: "&deg;",
            decimal: 1,
            label: "Course"
        }
    };
    L.control.ruler(rulerOpts).addTo(mymap);
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png', {
        attribution: 'Map tiles by <a href="https://stamen.com/">Stamen Design</a>, under <a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, under <a href="https://www.openstreetmap.org/copyright">ODbL</a>.',
    }).addTo(mymap);
    var wxWindLayer = L.tileLayer('https://8bitbyte.ca/sailnavsim/wxtile.php?z={z}&x={x}&y={y}&t=wind');
    var wxWindGustLayer = L.tileLayer('https://8bitbyte.ca/sailnavsim/wxtile.php?z={z}&x={x}&y={y}&t=wind_gust');
    var wxOceanCurrentLayer = L.tileLayer('https://8bitbyte.ca/sailnavsim/wxtile.php?z={z}&x={x}&y={y}&t=ocean_current');
    var wxSeaIceLayer = L.tileLayer('https://8bitbyte.ca/sailnavsim/wxtile.php?z={z}&x={x}&y={y}&t=sea_ice');
    var wxWaveHeightLayer = L.tileLayer('https://8bitbyte.ca/sailnavsim/wxtile.php?z={z}&x={x}&y={y}&t=wave_height');
    var wsUri = 'wss://8bitbyte.ca/sailnavsim/snsws/v1/ws';
    var ws = null;
    
    document.getElementById("overlayTile").onchange = function() {
        overlayTileChange()
    };
    document.getElementById("overlayTile").value = "none";


    document.getElementById("liveBoatMode").onclick = function() {
        liveBoatModeClick()
    };
    document.getElementById("liveBoatMode").checked = false;


    var liveBoatMarkerAdded = false;

    function printAngleMag(a, m) {
        return Math.round(a).toString().padStart(3, '0') + "&#176 / " + (m * 1.943844).toFixed(1) + " kts"
    }


    var ll0 = [
        [35.717121, 140.917724],
        [35.717002, 140.892926],
        [35.717000, 140.888000],
        [35.707000, 140.708000],
        [35.607000, 140.608000]
    ];

    GET_TRACK_PATH = 'track/TestBoat'

    /* Get the boat track */
    function getTrack() {
        return fetch(GET_TRACK_PATH)
                .then(res => res.json() )
                .catch(err => console.error(err));
    }

    getTrack().then(track => {
        L.polyline(track, {
            color: '#404040',
            weight: 2,
            opacity: 0.6
        }).addTo(mymap);
    })

    var bm0 = L.marker([35.717121, 140.917724], {
        icon: yellowIconE
    }).addTo(mymap);
    var bmL0 = L.marker([35.717121, -219.082276], {
        icon: yellowIconE
    }).addTo(mymap);
    var bmR0 = L.marker([35.717121, 500.917724], {
        icon: yellowIconE
    }).addTo(mymap);
    bm0.bindPopup("<center><b>Captain Mooperd</b></center><hr width=80% color=#c0c0c0>35&#176;43\'01\"N 140&#176;55\'03\"E<br>SOG: 6.7 kts<br>Wind: 140&#176; / 14 kts (gust 14)");
    bmL0.bindPopup("<center><b>Captain Mooperd</b></center><hr width=80% color=#c0c0c0>35&#176;43\'01\"N 140&#176;55\'03\"E<br>SOG: 6.7 kts<br>Wind: 140&#176; / 14 kts (gust 14)");
    bmR0.bindPopup("<center><b>Captain Mooperd</b></center><hr width=80% color=#c0c0c0>35&#176;43\'01\"N 140&#176;55\'03\"E<br>SOG: 6.7 kts<br>Wind: 140&#176; / 14 kts (gust 14)");
    bm0.al = null;
    bmL0.al = null;
    bmR0.al = null;
    mymap.on('popupopen', function(e) {
        if (e.popup._source.al != null) {
            e.popup._source.al.setStyle({
                color: '#a07020',
                weight: 2,
                opacity: 0.6
            });
            e.popup._source.alL.setStyle({
                color: '#a07020',
                weight: 2,
                opacity: 0.6
            });
            e.popup._source.alR.setStyle({
                color: '#a07020',
                weight: 2,
                opacity: 0.6
            });
        }
    });
    mymap.on('popupclose', function(e) {
        if (e.popup._source.al != null) {
            e.popup._source.al.setStyle({
                color: '#808080',
                weight: 1,
                opacity: 0.4
            });
            e.popup._source.alL.setStyle({
                color: '#808080',
                weight: 1,
                opacity: 0.4
            });
            e.popup._source.alR.setStyle({
                color: '#808080',
                weight: 1,
                opacity: 0.4
            });
        }
    });    
    </script>
    <br><br><br><h4 id="windy-map">Weather Forecast Map</h4>Your boat position at 2021-04-16 0611Z (37s ago)<br>35&#176;43'01"N 140&#176;55'03"E (35.717121,140.917724)<br><div class="mapview"><iframe width="100%" height="100%" src="https://embed.windy.com/embed2.html?lat=35.717121&lon=140.917724&zoom=7&level=surface&overlay=wind&menu=&message=&marker=true&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=35.717121&detailLon=140.917724&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe></div></center></body></html><div style="height:10vh"></div></body></html>